<h1>Hello world!</h1>



 <a href="#average_rating", class="sidebar-link"><span id="average_rating_header">Click here</span></a>
 
<script> 
$('#average_rating').raty({
    path: '/assets',
    readOnly: true,
    score: 2
});
$('#average_rating_header').raty({
    path: '/assets',
    readOnly: true,
    score: 2
});
</script>
