<!DOCTYPE html>
<html>
  <head>
    <title>Exemple</title>
    <%= csrf_meta_tags %>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<link rel="stylesheet" href="jquery.raty.css">
<script src="jquery.raty.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
