<!DOCTYPE html>
<html>
  <head>
    <title>Exemple</title>
    <%= csrf_meta_tags %>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 
  </head>

  <body>
    <%= yield %>
<script> 
$('.average_rating').raty({
    path: '/assets',
    readOnly: true,
    score: 2
});
$('.average_rating_header').raty({
    path: '/assets',
    readOnly: true,
    score: 2
});
</script>
  </body>
</html>
